* {
    margin: 0;
    padding: 0;
}

/*-----------Header------------*/
.header {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 80px;
    height: 80px;
}

.under-list {
    list-style: none;
    display: flex;
}

.list-1 {
    color: #fff;
    position: absolute;
    margin-left: -320px;
    margin-top: 20px;
    font-size: 25px;
}

.list-2 {
    color: #fff;
    position: absolute;
    margin-left: -100px;
    margin-top: 20px;
    font-size: 25px;
}

.list-3 {
    color: #fff;
    position: absolute;
    margin-left: 160px;
    margin-top: 20px;
    font-size: 25px;
}

.icon-sections {
    display: flex;
}

.img-panier {
    position: absolute;
    margin-left: -30px;
    width: 40px;
    margin-top: 10px;
}

.img-search {
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    width: 40px;
}

/*-------------Main Section-------------------*/
.main-section {
    background-image: url("../img/running-image.png");
    background-size: cover;
    background-position: center;
    height: 550px;
}